<div class="d-flex column-gap-3 border border-black rounded-3 p-3">
  <div class="d-flex flex-column fs-3">
    <%= link_to recipe.name, recipe_path(recipe.id) %>
    <%= delete_button(recipe) %>
  </div>
  <div class="fs-5"><%= trim_text(recipe.description) %></div>
</div>