<div class="d-flex column-gap-3 border border-black rounded-3 p-3">
  <div class="d-flex flex-column fs-3">
    <%= recipe.name %>
    <%= delete_button(recipe) %>
  </div>
  <div class="fs-5"><%= recipe.description %></div>
</div>