<% food.each_with_index do |food, idx| %>
  <tr>
    <td><%= food[0].name %></td>
    <td><%= recipe_foods[idx].quantity %></td>
    <td><%= food[0].price %></td>
    <td class="d-flex"><%= recipe_actions(food[0], recipe_foods[idx]) %></td>
  </tr>
  <% end %>
</tr>
