<tr>
  <td><%= foods[:food].name %></td>
  <td><%= foods[:recipe].quantity %></td>
  <td><%= foods[:food].price %></td>
  <td class="d-flex"><%= recipe_actions(foods[:food], foods[:recipe]) %></td>
</tr>
