@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.logo {
  font-family: 'Dela Gothic One', cursive;
}

.navbar-nav .nav-link.active {
  color: #1875cc !important;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #000;  
  display: inline-block;
  margin-left: 5px; 
}
